.App[data-theme="dark"] {
  --text: #ffffff;
  --background: #0c1313;
  --primary: #89b1b3;
  --secondary: #1e2e2f;
  --accent: #73a2a5;
}

.App[data-theme="light"] {
  --text: #000000;
  --background: #ecf3f3;
  --primary: #4c7476;
  --secondary: #d0e0e1;
  --accent: #5a898c;
}

/* TODO (optional):  change the theme with media so it can detect the systems theme */

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  color: var(--text);
  background-color: var(--secondary);
  overflow: hidden;
}

.theme-transition,
.theme-transition *,
.theme-transition *:before,
.theme-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


.header {
  /* background: linear-gradient(var(--background), rgba(0.1,0,0,0)) ; */
  background: var(--background);
  min-width: 100vw;
  min-height: calc(50px + 2vmin);
  height: 7%;
  padding: 4px 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(20px + 2vmin);
  border-bottom: var(--accent)  solid 2px;
  border-radius: 0px 0px 10px 0px;
  .menu {
    /* color: var(--accent); */
  }

  .profile {
    width: calc(35px + 2vmin);
    /* height: 6vh; */
    border-radius: 50% 50% 10px 50%;
    border: var(--accent) solid 2px;
  }
}

.sidebar[data-sidebar="closed"] {
  width: 0;
  overflow: hidden;
}

.sidebar-transition {
  transition: all 750ms !important;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background: var(--background);
  height: 100%;
  box-shadow: #000000 1px 0 30px;
  border-top-right-radius: 10px;
  justify-content: space-between;
  .ico {
    font-size: 40px;
    font-weight: 100;
    min-width: 60px;
    border-bottom: var(--secondary) 1px solid;
    margin-top: 3px;
  }
}

.sidebar[data-sidebar="opened"] {
  width: max-content;
}

.body {
  display: flex;
  flex-direction: row;
  height: inherit;
  /* margin-top: calc(50px + 2vmin); */
}