.top-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 24px;
  flex-shrink: 0;
}
.logo{
  text-decoration: none;
  color: var(--text);
}
.icon,
.title {
  position: relative;
  line-height: 24px;
}

.image {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
}

.image-container {
  align-self: stretch;
  height: auto;
  max-height: 80vw;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-base);
}

.textfield {
  align-self: stretch;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gray-200);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-9xs) var(--padding-xs);
  justify-content: flex-end;
  gap: var(--gap-9xs);
}

.search {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  justify-content: flex-start;
  color: var(--text);
  background: var(--primary);
  border: var(--accent) solid 1px;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  line-height: 30px;
  margin: 10px 5px;

  .search-input {
    flex: 1;
    position: relative;
    margin-left: 10px;
    background: var(--primary);
    padding-left: 10px;
    color: var(--text);
    border: 1px solid var(--color-gray-200);
    font-weight: 700;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .search-input:focus-visible {
    border: none;
    outline: none;
  }

  .search-button {
    z-index: 1;
    color: var(--text);
    border: none;
    background: transparent;
  }
}

.page {
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
  overflow: scroll;
}

/* 
.carousel-image {
  height: 100vw;
  width: 100vw;
} */

.carousel-image-single {
  width: 100vw;
  height: 60vw;
  object-fit: cover;
  object-position: top;
}

.search-badges {
  display: flex;
  flex-wrap: wrap;
}

.search-badge {
  border-radius: 1vw;
  background: var(--accent);
  padding: 0px 5px;
  margin: 5px;
  cursor: pointer;
}

.search-badge-add {
  border-radius: 15px;
  background: var(--background);
  color: var(--accent);
  /* justify-self: center; */
  /* font-weight: 900; */
  font-size: large;
  /* justify-self: end; */
  /* padding: 100px; */
  margin-left: 10px;
  /* align-self: center; */
  /* justify-self: center; */
}

#tagsSearch {
  border-color: var(--accent);
  border-radius: 10px;
  width: 60vw;
}

.tagSearch {
  display: flex;
  flex-direction: column;

  .diag-header {
    justify-content: end;
    font-weight: 900;
    margin: 0;
  }

  .diag-body {}
}

.filter-toggle {
  background: var(--primary);
  margin-left: 10px;
  padding: 2px;
  outline: none;
  border: none;
  color: var(--text);
}

.filter-main[data-filter='false'] {
  display: none;
}

.filter-main[data-filter='true'] {
  display: block;
}

.divider {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--secondary), var(--accent), var(--secondary));
  border-image-slice: 1;
  margin: 0 20px;
  margin-bottom: 20px;
}

.jobs-head {
  padding: 0%;

  .results {
    margin-top: 10px;
    margin-left: 10px;
  }

}

.jobs-body {
  .single-job {
    padding: 5px 0 0 10px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--accent), var(--background));
    border-image-slice: 1;
    border-radius: 10px;
    min-height: 50px;
    margin: 15px 15px 0 15px;
    background-color: var(--accent);
    color: var(--background);
    padding-bottom: 4px;

    .title {
      display: flex;
      font-weight: 500;
      font-size: larger;
      margin: 0 10px 3px 0;
      justify-content: space-between;
      text-decoration: underline;

      .tittle-title{
        /* max-width: 50vw; */
      }
    }

    .title a {
      color: var(--background);
    }

    .title a:visited {
      color: var(--secondary);
    }

    .description {
      margin-right: 30px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* Number of lines to show */
      -webkit-box-orient: vertical;
    }

    .external-info {
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
    }

    .external-info span {
      /* border: 1px solid var(--background); */
      /* border-radius: 4px; */
      margin-left: 10px;
      padding: 0 3px;
    }
  }
}

.front-page{
  
}

.todays{
  border-bottom: 5px solid var(--background);
  /* height: 200px; */
  padding-bottom: 10px;

  .todays-title{
    padding: 3px;
    font-size: large;
    color: var(--accent);
  }
  .todays-body{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    /* box-shadow: inset -10px 1px 10px var(--background); */
  }
}

.todays-body .single-job{
  /* margin-right: 0; */
}
